@mixin reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin flex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}